.container {
   background-image: url("/bg.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   object-fit: cover;
   padding: 2rem;
   min-height: 100vh;
   background-attachment: fixed;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}