.card {
    width: 275px;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
}

.avatar {
    width: 225px;
    border-radius: 50%;
    height: 15rem;
    gap:0.5rem;
}

.title {
    margin: 10px 0 5px;
    font-size: 20px;
}